<!-- <!DOCTYPE html>
<html lang="en"> -->
<!-- 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL Shortener</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    Add any other meta tags or links here
</head>

<body>
    <header>
        <h1>URL Shortener</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'generic' %}">Generic</a>
            <a href="{% url 'expiry' %}">Expiry Date</a>
            <a href="{% url 'qr' %}">QR Code</a>
            <a href="{% url 'password' %}">Password Protection</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main> -->
<!-- 
    <footer>
        <p>&copy; 2024 URL Shortener. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html> -->
