<!-- {% extends 'base.html' %}
{% block content %}
<form id="password-form">
    {% csrf_token %}
    <input type="text" id="link" name="link" placeholder="Enter URL">
    <input type="password" id="password" name="password" placeholder="Set Password">
    <button type="submit">Shorten</button>
</form>
<section id="password-output"></section>
<script>
    $('#password-form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "password-create" %}',
            data: {
                link: $('#link').val(),
                password: $('#password').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                $('#password-output').html(
                    `<p>Shortened URL: <a href="/${data.uuid}" target="_blank">/${data.uuid}</a></p>`
                );
            }
        });
    });
</script>
{% endblock %} -->
